<!DOCTYPE html>
<html>
<head>
	<title>Válaszok</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
	<div id="container">
	<table class="table table-bordered table-hover table-stripped">
		<thead>
			<th>Küldő azonosító</th>
			<th>Csoport</th>
			<th>Kezdő időpont</th>
			<th>Vége időpont</th>
			<th>Válaszok</th>
		</thead>
<% allAnswers.forEach(function(recipient) { %>
		<tr>
			<td><%= recipient[0] %></td>
			<td><%= recipient[1][0] ? recipient[1][0].group : "" %></td>
			<td><%= recipient[1][0] && recipient[1][0].timestamp ? 
				recipient[1][0].timestamp.toLocaleString() : "" %></td>
			<td><%= recipient[1][kuestionCount - 1] && recipient[1][kuestionCount - 1].timestamp ? 
				recipient[1][kuestionCount - 1].timestamp.toLocaleString() : "" %></td>
<% for(var answer in recipient[1]) { %>
			<td><%= recipient[1][answer].answer %></td>
<% } %>
		</tr>
<% }) %>
	</table>
	</div>
</body>
</html>
